<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="UserController.js"></script>
    <script src="UserService.js"></script>
    <!--    <script src="index.js"></script>-->
</head>
<body>
<div class="" ng-app="myApp" ng-controller="ctrol">
    <table>
        <tr>
            <td width="100">ID:</td>
            <td><input type="text" id="id" ng-model="user.id" /></td>
        </tr>
        <tr>
            <td width="100">Name:</td>
            <td><input type="text" id="name" ng-model="user.name" /></td>
        </tr>
        <tr>
            <td width="100">Age:</td>
            <td><input type="text" id="age" ng-model="user.email" /></td>
        </tr>
    </table>
    <a ng-click="getUser(user.id)">Get User</a>
    <a ng-click="updateUser(user.id,user.name,user.email)">Update User</a>
    <a ng-click="addUser(user.name,user.email)">Add User</a>
    <a ng-click="deleteUser(user.id)">Delete User</a>
    <a ng-click="getAllUsers()">Get all Users</a><br/><br/>
    <div ng-repeat="usr in users">
        {{usr.name}} {{usr.email}}
    </div>
</div>
</body>
</html>
